* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20% 0 0 0;
  align-items: center;
}

.btn {
  width: max-content;
  padding: 1.5rem;
  font-size: 3rem;
  margin-bottom: 3rem;

  border: none;
  border-radius: 1rem;
  background-color: #ffc93c;
}

.content {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  grid-template-columns: repeat(16, 3rem);
  grid-template-rows: repeat(16, 3rem);
}

.box {
  background-color: #0081c9;
  width: 1rem;
  height: auto;
  padding: 1rem;
}

.box:hover {
  background-color: #5bc0f8;
}
