* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid gray;
  width: 100rem;
  height: 100rem;
  margin: 3rem 0 0 0;
  align-items: center;
}

.btn {
  width: max-content;
  padding: 1.5rem;
  font-size: 3rem;
  margin-bottom: 5rem;

  border: none;
  border-radius: 1rem;
  background-color: #ffc93c;
}

.content {
  border: 2px solid pink;
  display: grid;
  width: 60rem;
  height: 60rem;
}

.box {
  background-color: #fff;
  border: 0.05rem solid grey;
  /* width: 1rem; */
  /* height: auto;
  padding: 1rem; */
}

/* .box:hover {
  background-color: #5bc0f8;
} */
